<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>543003749963-u8lf72cibgvc5fo5g5be9hjgrc34nfgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543003749963-u8lf72cibgvc5fo5g5be9hjgrc34nfgk</string>
	<key>API_KEY</key>
	<string>AIzaSyDDZ5nv8X8NVUANxJb_VsCANI3gJL7Fys4</string>
	<key>GCM_SENDER_ID</key>
	<string>543003749963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razeware.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>who-dat-f5170</string>
	<key>STORAGE_BUCKET</key>
	<string>who-dat-f5170.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:543003749963:ios:2d925ebdef007b09</string>
	<key>DATABASE_URL</key>
	<string>https://who-dat-f5170.firebaseio.com</string>
</dict>
</plist>